
@{
    ViewBag.Title = "Uye Ekle";
}

<h2>Uye Ekle</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Adı</label>
        <div class="col-md-12">
            <input id="uyeAdı" type="text" class="form-control" placeholder="Ad Giriniz">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Soyadı</label>
        <div class="col-md-12">
            <input id="uyeSoyadı" type="text" class="form-control" placeholder="Soyadı Giriniz">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">TelNo</label>
        <div class="col-md-12">
            <input id="uyeTelNo" type="text" class="form-control" placeholder="TelNo Giriniz">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="button" id="uyeEkleYeni" class="btn btn-block btn-info" value="Kaydet">
        </div>
    </div>

</form>
