
@{
    ViewBag.Title = "Üye Güncelle";
}
@using PhoneProg.Data.Models;
@model Uyeler

<h2>Üye Güncelle</h2>


<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Adı</label>
        <div class="col-md-12">
            <input id="yeniuyeAdı" value="@Model.Ad" type="text" class="form-control" placeholder="Ad Giriniz">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Soyadı</label>
        <div class="col-md-12">
            <input id="yeniuyeSoyadı" value="@Model.Soyad" type="text" class="form-control" placeholder="Soyadı Giriniz">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">TelNo</label>
        <div class="col-md-12">
            <input id="yeniuyeTelNo" value="@Model.TelNo" type="text" class="form-control" placeholder="TelNo Giriniz">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="button" data-id="@Model.Id" id="uyeGuncelleYeni" class="btn btn-block btn-info" value="Kaydet">
        </div>
    </div>

</form>

